@use '../../../styles/abstracts' as *;


.newsletter-block {
  background: rgba(225, 234, 249, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  &__img {
    margin: var(--img-margin-newsletter-block, 0 auto);
    width: var(--img-width-newsletter-block, 106px);
    @include create-media-queries('md', 'min') {
      --img-width-newsletter-block: 171px;
      --img-margin-newsletter-block: 0 var(--spacing-xl);
    }
  }
}
