{
  "env": {
    "jest": true
  },
  "extends": [
    "@eleven-labs/eslint-config/typescript",
    "@eleven-labs/eslint-config/react"
  ],
  "rules": {
    "react/no-unescaped-entities": ["error", {"forbid": [">", "}"]}]
  }
}
