# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom
reports/*
storybook-static
public/svgs
src/components/Atoms/Svgs
src/styles/_token-custom-properties.scss
src/styles/_token-custom-properties-desktop.scss
src/styles/abstracts/variables/_token-variables.scss
src/styles/abstracts/variables/_variables.scss
src/styles/_fonts.scss
src/constants/tokenVariables.ts
src/constants/tokenVariablesDesktop.ts
