# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local
coverage
playwright-report
test-results
.playwright-browsers

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom
reports/*
storybook-static
public/svgs
src/components/Atoms/Svgs
src/styles/_token-custom-properties.scss
src/styles/_token-custom-properties-desktop.css
src/styles/_fonts.scss
src/tokens/tokenVariables.ts
src/tokens/tokenVariablesDesktop.ts
