@use 'sass:map';
@use '../abstracts' as *;

$spacing-list: map.get($token-variables, 'spacing');
$margin-prop-list: (
  'm':  'margin',
  'mt': 'margin-top',
  'mr': 'margin-right',
  'mb': 'margin-bottom',
  'ml': 'margin-left',
  'mx': ('margin-left', 'margin-right'),
  'my': ('margin-top', 'margin-bottom'),
);
$padding-prop-list: (
  'p': 'padding',
  'pt': 'padding-top',
  'pr': 'padding-right',
  'pb': 'padding-bottom',
  'pl': 'padding-left',
  'px': ('padding-left', 'padding-right'),
  'py': ('padding-top', 'padding-bottom'),
);

@each $prefix-class-name, $property-css in $margin-prop-list {
  @include utility-classes-with-modifiers($prefix-class-name, $property-css, map.merge($spacing-list, ('auto': 'auto')));
}

@each $prefix-class-name, $property-css in $padding-prop-list {
  @include utility-classes-with-modifiers($prefix-class-name, $property-css, $spacing-list);
}
