@use 'sass:map';
@use '../abstracts' as *;

$text-align-list: map.get($css-properties, 'text-align');
$font-weight-list: map.get($token-variables, 'font-weight');
$text-transform-list: map.get($css-properties, 'text-transform');
$typography-prop-list: (
  'fontWeight': (
    'prefix-class-name': 'font-weight',
    'property-css': 'font-weight',
    'value-list': $font-weight-list,
  ),
  'textTransform': (
    'prefix-class-name': text,
    'property-css': 'text-transform',
    'value-list': $text-transform-list,
  ),
);
$typography-prop-list-with-breakpoints: (
  'textAlign':  (
    'prefix-class-name': 'text',
    'property-css': 'text-align',
    'value-list': $text-align-list,
  ),
);


@mixin text-component($config) {
  @each $component-variant-name, $properties in $config {
    @if $component-variant-name != 'base' {
      $icon-size: map.get($properties, 'icon-size');
      .text-#{$component-variant-name} {
        @each $property-name, $property-value in map.merge(map.get($config, 'base'), $properties) {
          @if $property-name != 'icon-size' {
            #{$property-name}: #{$property-value};
          }
        }

        @if $icon-size {
          .icon {
            font-size: $icon-size;
          }
        }
      }
    }
  }
}

/*
 * Typography System Class Names
 */
@include system-classes($typography-prop-list);
@include system-classes-with-breakpoints($typography-prop-list-with-breakpoints);

.text-underline {
  text-decoration: underline;
}

.text-italic {
  font-style: italic;
}

$heading-config: map.get($token-variables, 'typography', 'heading');
$heading-desktop-config: map.get($token-variables, 'desktop', 'typography', 'heading');
$text-config: map.get($token-variables, 'typography', 'text');
$text-desktop-config: map.get($token-variables, 'desktop', 'typography', 'text');

@include component('heading', $heading-config);

@include create-media-queries('md') {
  @include component('heading', map.merge($heading-config, $heading-desktop-config));
}

@include text-component($text-config);

@include create-media-queries('md') {
  @include text-component(map.merge($text-config, $text-desktop-config));
}
