.input {
  border: none;
  font-family: var(--typography-font-family);
  &::placeholder {
    color: var(--color-grey-middle);
  }
  &:focus-visible {
    outline: none;
    border: 2px solid var(--color-amaranth);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
  }
  &--search {
    border-radius: 21px;
  }
  &--form {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  }
}
