@use '@/styles/abstracts' as *;

@mixin cover-image-square($isDesktop: false) {
  $size: var(--cover-size-square-mobile-post-card);
  $margin: #{map-get-strict($token-variables, 'spacing', 's')} #{map-get-strict($token-variables, 'spacing', 's')} 0 0;
  $border-radius: #{map-get-strict($token-variables, 'radius', 's')};

  @if $isDesktop {
    $margin: 0;
    $size: var(--cover-size-square-desktop-post-card);
    $border-radius: #{map-get-strict($token-variables, 'radius', 's')} 0 0 #{map-get-strict($token-variables, 'radius', 's')};
  }

  margin: $margin;
  width: $size;
  height: $size;
  border-radius: $border-radius;
}

@mixin cover-image-horizontal($height) {
  margin: 0;
  width: 100%;
  height: $height;
  border-radius: 0;
}

.post-card {
  $this: &;

  --background-color-post-card: white;
  --cover-size-square-mobile-post-card: 74px;
  --cover-size-square-desktop-post-card: 200px;
  --cover-height-horizontal-mobile-post-card: 130px;
  --cover-height-horizontal-medium-desktop-post-card: 175px;
  --cover-height-horizontal-large-desktop-post-card: 245px;


  position: relative;
  display: flex;
  background-color: var(--background-color-post-card);
  border-radius: #{map-get-strict($token-variables, 'radius', 's')};

  #{$this}__cover {
    width: 100%;
    object-fit: cover;
  }

  &--highlight-light {
    flex-direction: row-reverse;
    #{$this}__cover {
      @include cover-image-square;
    }

    @include create-media-queries('md') {
      flex-direction: column;
      #{$this}__cover {
        @include cover-image-horizontal(var(--cover-height-horizontal-medium-desktop-post-card));
      }
    }
  }

  &--highlight-dark {
    flex-direction: column;

    --background-color-post-card: rgb(0 0 0 / 15%);

    color: white;
    #{$this}__cover {
      height: var(--cover-height-horizontal-mobile-post-card);
    }
    #{$this}__link {
      color: white;
    }

    @include create-media-queries('md') {
      #{$this}__cover {
        @include cover-image-horizontal(var(--cover-height-horizontal-large-desktop-post-card));
      }
    }
  }

  &--side-image {
    flex-direction: row-reverse;

    @include create-media-queries('md') {
      flex-direction: row;
    }
    #{$this}__cover {
      @include cover-image-square;

      @include create-media-queries('md') {
        @include cover-image-square(true);
      }
    }

    &#{$this}--with-tutorial {
      #{$this}__heading {
        @include create-media-queries('md') {
          width: calc(100% - 55px);
        }
      }
    }
  }


  &__link {
    color: black;

    &::before {
      content: " ";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__tutoriel-tag {
    position: absolute;
    top: #{map-get-strict($token-variables, 'spacing', 's')};
    right: #{map-get-strict($token-variables, 'spacing', 's')};
    font-family: #{map-get-strict($token-variables, 'font-family', 'heading')};
    letter-spacing: 0.5px;
    background-color: #{map-get-strict($token-variables, 'color', 'accent')};
    border-radius: #{map-get-strict($token-variables, 'radius', 'xs')};
  }
}
