@use '@/styles/abstracts' as *;

.post-preview {
  $this: &;

  --max-height-post-preview-mask: 44px;
  --background-color-post-preview: white;

  background-color: var(--background-color-post-preview);
  position: relative;

  &--secondary {
    --background-color-post-preview: rgb(0 0 0 / 15%);
    #{$this}__link {
      color: white;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: #{map-get-strict($token-variables, 'spacing', 'xxs')};
  }

  &__link {
    color: black;

    &::before {
      content: " ";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__tutoriel-tag {
    font-family: #{map-get-strict($token-variables, 'font-family', 'heading')};
    background-color: #{map-get-strict($token-variables, 'color', 'accent')};
    border-radius: 2px;
  }
}
