.button {
  $this: &;

  display: inline-block;
  padding: var(--spacing-xxs) var(--spacing-m);
  background: var(--background-color-button, var(--color-amaranth));
  color: var(--color-button, var(--color-white));
  font-weight: var(--font-weight-button, var(--font-weight-medium));
  text-transform: uppercase;
  border-width: var(--border-width-button, 0);
  border-style: solid;
  border-color: var(--border-color-button, transparent);
  border-radius: var(--border-radius-button, 4px);
  cursor: pointer;

  &::after {
    content: attr(data-text);
    content: attr(data-text) / "";
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: var(--font-weight-bold);

    @media speech {
      display: none;
    }
  }

  &:hover {
    --font-weight-button: var(--font-weight-bold);
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &--primary {
    &[disabled] {
      --background-color-button: var(--color-dark-grey);
    }
  }

  &--secondary {
    --background-color-button: var(--color-white);
    --color-button: var(--color-amaranth);
    --border-width-button: 2px;

    &:hover {
      --border-width-button: 2px;
      --border-color-button: var(--color-amaranth);
    }

    &[disabled] {
      --border-color-button: var(--color-dark-grey);
    }
  }

  &--choice-chip {
    --border-radius-button: 24px;

    box-shadow: 0 4px 14px rgb(0 0 0 / 12%);
    &#{$this}--secondary {
      --border-width-button: 0;

      &:hover {
        --border-width-button: 2px;
      }
    }
  }
}
