.button {
  display: inline-block;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: var(--font-weight-medium);
  background-color: var(--background-color-button, var(--color-amaranth));
  color: var(--color-button, var(--color-white));
  border: var(--border-button, none);
  &--primary {
    --background-color-button: var(--color-amaranth);
    --color-button: var(--color-white);
    --border-button: none;
  }
  &--primary-ghost {
    --background-color-button: transparent;
    --color-button: var(--color-amaranth);
    --border-button: 1px solid var(--color-amaranth);
  }
  &--form {
    --background-color-button: var(--color-dark-grey);
    --color-button: var(--color-white);
    --border-button: none;
  }
}
