@use '@/styles/abstracts' as *;

.category-ending-block {
  &__description {
    a {
      color: black;
      text-decoration: underline;
      font-weight: #{map-get-strict($token-variables, 'font-weight', 'medium')};
    }
  }
}
