@use '@/styles/abstracts' as *;

.post-metadata {
  &--primary {
    color: #{map-get-strict($token-variables, 'color', 'info')};
    font-weight: #{map-get-strict($token-variables, 'font-weight', 'bold')};
    text-transform: uppercase;
  }

  &--secondary {
    font-weight: #{map-get-strict($token-variables, 'font-weight', 'medium')};
  }
}
