@use '@/styles/abstracts' as *;

.post-metadata {
  a {
    color: black;
  }

  &--primary {
    color: #{map-get-strict($token-variables, 'color', 'info')};
    font-weight: #{map-get-strict($token-variables, 'font-weight', 'bold')};
    text-transform: uppercase;
  }

  &--secondary {
    font-weight: #{map-get-strict($token-variables, 'font-weight', 'medium')};

    a {
      color: #{map-get-strict($token-variables, 'color', 'info')};
    }
  }
}
