@use '@/styles/abstracts' as *;

.post-page {
  --height-cover-post-page: 160px;

  &__cover {
    margin-top: #{map-get-strict($token-variables, 'spacing', 's')};
    object-fit: cover;
    width: 100%;
    height: var(--height-cover-post-page);
    border-radius: #{map-get-strict($token-variables, 'radius', 'xs')};

    @include create-media-queries('md') {
      --height-cover-post-page: 335px;
    }
  }
}
